In [1]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://www.worldometers.info/coronavirus/'

In [9]:
page = requests.get(url)
soup = BeautifulSoup(page.content,'html.parser')

In [14]:
table = soup.find('table')

In [16]:
for x in table:
    print(x)

<thead>
<tr>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">TotÂ Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Reported<br/>1<sup>st</sup> case</th>
</tr>
</thead>


<tbody>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">164,253</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+409</td>
<td style="font-weight: bold; text-align:right;">3,166 </td>
<td style="font-weight: bold; text-align:right;background-color:red; color:white">+10</td>
<td style="font-weight: bold; text-align:right">5,506</td>
<td style="text-align:right;font-weight:bold;">155,581</td>
<td style="font-weight: bold; text-align:right">3,512</td>
<td style="font-weight: bold; text-align:right">496</td>
<td style="font-weight: bold; text-align:right">10</td>
<td style="text-align:right;font-size:13px;">
Jan 20 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">101,739</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">11,591 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">14,620</td>
<td style="text-align:right;font-weight:bold;">75,528</td>
<td style="font-weight: bold; text-align:right">3,981</td>
<td style="font-weight: bold; text-align:right">1,683</td>
<td style="font-weight: bold; text-align:right">192</td>
<td style="text-align:right;font-size:13px;">
Jan 29 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">87,956</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">7,716 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">16,780</td>
<td style="text-align:right;font-weight:bold;">63,460</td>
<td style="font-weight: bold; text-align:right">5,231</td>
<td style="font-weight: bold; text-align:right">1,881</td>
<td style="font-weight: bold; text-align:right">165</td>
<td style="text-align:right;font-size:13px;">
Jan 30 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">66,885</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">645 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">13,500</td>
<td style="text-align:right;font-weight:bold;">52,740</td>
<td style="font-weight: bold; text-align:right">1,979</td>
<td style="font-weight: bold; text-align:right">798</td>
<td style="font-weight: bold; text-align:right">8</td>
<td style="text-align:right;font-size:13px;">
Jan 26 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">44,550</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">3,024 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">7,927</td>
<td style="text-align:right;font-weight:bold;">33,599</td>
<td style="font-weight: bold; text-align:right">5,056</td>
<td style="font-weight: bold; text-align:right">683</td>
<td style="font-weight: bold; text-align:right">46</td>
<td style="text-align:right;font-size:13px;">
Jan 23 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
<td style="font-weight: bold; text-align:right">41,495</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">2,757 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">13,911</td>
<td style="text-align:right;font-weight:bold;">24,827</td>
<td style="font-weight: bold; text-align:right">3,511</td>
<td style="font-weight: bold; text-align:right">494</td>
<td style="font-weight: bold; text-align:right">33</td>
<td style="text-align:right;font-size:13px;">
Feb 18 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">22,141</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,408 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">135</td>
<td style="text-align:right;font-weight:bold;">20,598</td>
<td style="font-weight: bold; text-align:right">163</td>
<td style="font-weight: bold; text-align:right">326</td>
<td style="font-weight: bold; text-align:right">21</td>
<td style="text-align:right;font-size:13px;">
Jan 30 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>
<td style="font-weight: bold; text-align:right">15,922</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">359 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,823</td>
<td style="text-align:right;font-weight:bold;">13,740</td>
<td style="font-weight: bold; text-align:right">301</td>
<td style="font-weight: bold; text-align:right">1,840</td>
<td style="font-weight: bold; text-align:right">41</td>
<td style="text-align:right;font-size:13px;">
Feb 24 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
<td style="font-weight: bold; text-align:right">11,899</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">513 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1,527</td>
<td style="text-align:right;font-weight:bold;">9,859</td>
<td style="font-weight: bold; text-align:right">927</td>
<td style="font-weight: bold; text-align:right">1,027</td>
<td style="font-weight: bold; text-align:right">44</td>
<td style="text-align:right;font-size:13px;">
Feb 03 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
<td style="font-weight: bold; text-align:right">11,750</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">864 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">250</td>
<td style="text-align:right;font-weight:bold;">10,636</td>
<td style="font-weight: bold; text-align:right">1,053</td>
<td style="font-weight: bold; text-align:right">686</td>
<td style="font-weight: bold; text-align:right">50</td>
<td style="text-align:right;font-size:13px;">
Feb 26 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">10,827</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">168 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">162</td>
<td style="text-align:right;font-weight:bold;">10,497</td>
<td style="font-weight: bold; text-align:right">568</td>
<td style="font-weight: bold; text-align:right">128</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="text-align:right;font-size:13px;">
Mar 09 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">9,786</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+125</td>
<td style="font-weight: bold; text-align:right;">162 </td>
<td style="font-weight: bold; text-align:right;background-color:red; color:white">+4</td>
<td style="font-weight: bold; text-align:right">5,408</td>
<td style="text-align:right;font-weight:bold;">4,216</td>
<td style="font-weight: bold; text-align:right">55</td>
<td style="font-weight: bold; text-align:right">191</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="text-align:right;font-size:13px;">
Jan 19 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/austria/">Austria</a></td>
<td style="font-weight: bold; text-align:right">9,618</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">108 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">636</td>
<td style="text-align:right;font-weight:bold;">8,874</td>
<td style="font-weight: bold; text-align:right">193</td>
<td style="font-weight: bold; text-align:right">1,068</td>
<td style="font-weight: bold; text-align:right">12</td>
<td style="text-align:right;font-size:13px;">
Feb 24 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>
<td style="font-weight: bold; text-align:right">7,474</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+26</td>
<td style="font-weight: bold; text-align:right;">92 </td>
<td style="font-weight: bold; text-align:right;background-color:red; color:white">+3</td>
<td style="font-weight: bold; text-align:right">1,114</td>
<td style="text-align:right;font-weight:bold;">6,268</td>
<td style="font-weight: bold; text-align:right">120</td>
<td style="font-weight: bold; text-align:right">198</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="text-align:right;font-size:13px;">
Jan 24 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
<td style="font-weight: bold; text-align:right">6,408</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">140 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">43</td>
<td style="text-align:right;font-weight:bold;">6,225</td>
<td style="font-weight: bold; text-align:right">164</td>
<td style="font-weight: bold; text-align:right">628</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="text-align:right;font-size:13px;">
Mar 01 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/israel/">Israel</a></td>
<td style="font-weight: bold; text-align:right">4,695</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">16 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">161</td>
<td style="text-align:right;font-weight:bold;">4,518</td>
<td style="font-weight: bold; text-align:right">79</td>
<td style="font-weight: bold; text-align:right">542</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="text-align:right;font-size:13px;">
Feb 20 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">4,661</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+31</td>
<td style="font-weight: bold; text-align:right;">165 </td>
<td style="font-weight: bold; text-align:right;background-color:red; color:white">+2</td>
<td style="font-weight: bold; text-align:right">127</td>
<td style="text-align:right;font-weight:bold;">4,369</td>
<td style="font-weight: bold; text-align:right">296</td>
<td style="font-weight: bold; text-align:right">22</td>
<td style="font-weight: bold; text-align:right">0.8</td>
<td style="text-align:right;font-size:13px;">
Feb 24 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/australia/">Australia</a></td>
<td style="font-weight: bold; text-align:right">4,514</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+54</td>
<td style="font-weight: bold; text-align:right;">19 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">244</td>
<td style="text-align:right;font-weight:bold;">4,251</td>
<td style="font-weight: bold; text-align:right">28</td>
<td style="font-weight: bold; text-align:right">177</td>
<td style="font-weight: bold; text-align:right">0.7</td>
<td style="text-align:right;font-size:13px;">
Jan 24 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/norway/">Norway</a></td>
<td style="font-weight: bold; text-align:right">4,462</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+17</td>
<td style="font-weight: bold; text-align:right;">32 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">12</td>
<td style="text-align:right;font-weight:bold;">4,418</td>
<td style="font-weight: bold; text-align:right">97</td>
<td style="font-weight: bold; text-align:right">823</td>
<td style="font-weight: bold; text-align:right">6</td>
<td style="text-align:right;font-size:13px;">
Feb 25 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sweden/">Sweden</a></td>
<td style="font-weight: bold; text-align:right">4,028</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">146 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">16</td>
<td style="text-align:right;font-weight:bold;">3,866</td>
<td style="font-weight: bold; text-align:right">306</td>
<td style="font-weight: bold; text-align:right">399</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="text-align:right;font-size:13px;">
Jan 30 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;">Czechia</td>
<td style="font-weight: bold; text-align:right">3,001</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">23 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25</td>
<td style="text-align:right;font-weight:bold;">2,953</td>
<td style="font-weight: bold; text-align:right">52</td>
<td style="font-weight: bold; text-align:right">280</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="text-align:right;font-size:13px;">
Feb 29 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ireland/">Ireland</a></td>
<td style="font-weight: bold; text-align:right">2,910</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">54 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">5</td>
<td style="text-align:right;font-weight:bold;">2,851</td>
<td style="font-weight: bold; text-align:right">84</td>
<td style="font-weight: bold; text-align:right">589</td>
<td style="font-weight: bold; text-align:right">11</td>
<td style="text-align:right;font-size:13px;">
Feb 28 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/malaysia/">Malaysia</a></td>
<td style="font-weight: bold; text-align:right">2,626</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">37 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">479</td>
<td style="text-align:right;font-weight:bold;">2,110</td>
<td style="font-weight: bold; text-align:right">94</td>
<td style="font-weight: bold; text-align:right">81</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="text-align:right;font-size:13px;">
Jan 24 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/denmark/">Denmark</a></td>
<td style="font-weight: bold; text-align:right">2,577</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">77 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="text-align:right;font-weight:bold;">2,499</td>
<td style="font-weight: bold; text-align:right">137</td>
<td style="font-weight: bold; text-align:right">445</td>
<td style="font-weight: bold; text-align:right">13</td>
<td style="text-align:right;font-size:13px;">
Feb 26 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;">Chile</td>
<td style="font-weight: bold; text-align:right">2,449</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">8 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">156</td>
<td style="text-align:right;font-weight:bold;">2,285</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="font-weight: bold; text-align:right">128</td>
<td style="font-weight: bold; text-align:right">0.4</td>
<td style="text-align:right;font-size:13px;">
Mar 02 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;">Romania</td>
<td style="font-weight: bold; text-align:right">2,109</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">65 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">209</td>
<td style="text-align:right;font-weight:bold;">1,835</td>
<td style="font-weight: bold; text-align:right">33</td>
<td style="font-weight: bold; text-align:right">110</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="text-align:right;font-size:13px;">
Feb 25 </td>
</tr>
<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>
<td style="font-weight: bold; text-align:right">2,055</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">31 </td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right">7</td>
<td style="text-align:right;font-weight:bold;">2,017</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right">54</td>
<td style="font-weight: bold; text-align:right">0.8</td>
<td style="text-align:right;font-size:13px;">
Mar 03 </td>
</tr>
<tr style="">

In [78]:
headers = []
for x in soup.find_all('th'):
    headers.append(x.text)
headers

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'Reported1st case',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'Reported1st case']

In [84]:
rowCount = 1
rows = table.find_all('tr')
# headers = []
countries = []
for r in rows:
    data = []
    row = r
    if rowCount == 1:
        # skip headers
        print('skip')
    else:
        row = r
        for x in row:
            print(x)
    rowCount += 1

skip


<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>


<td style="font-weight: bold; text-align:right">164,253</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+409</td>


<td style="font-weight: bold; text-align:right;">3,166 </td>


<td style="font-weight: bold; text-align:right;background-color:red; color:white">+10</td>


<td style="font-weight: bold; text-align:right">5,506</td>


<td style="text-align:right;font-weight:bold;">155,581</td>


<td style="font-weight: bold; text-align:right">3,512</td>


<td style="font-weight: bold; text-align:right">496</td>


<td style="font-weight: bold; text-align:right">10</td>


<td style="text-align:right;font-size:13px;">
Jan 20 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>


<td style="font-weight: bold; text-align:right">101,739</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">11,591 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">14,620</td>


<td style="text-align:right;font-weight:bold;">75,528</td>


<td style="font-weight: bold; text-align:right">3,981</td>


<td style="font-weight: bold; text-align:right">1,683</td>


<td style="font-weight: bold; text-align:right">192</td>


<td style="text-align:right;font-size:13px;">
Jan 29 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>


<td style="font-weight: bold; text-align:right">87,956</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">7,716 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">16,780</td>


<td style="text-align:right;font-weight:bold;">63,460</td>


<td style="font-weight: bold; text-align:right">5,231</td>


<td style="font-weight: bold; text-align:right">1,881</td>


<td style="font-weight: bold; text-align:right">165</td>


<td style="text-align:right;font-size:13px;">
Jan 30 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>


<td style="font-weight: bold; text-align:right">66,885</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">645 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">13,500</td>


<td style="text-align:right;font-weight:bold;">52,740</td>


<td style="font-weight: bold; text-align:right">1,979</td>


<td style="font-weight: bold; text-align:right">798</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="text-align:right;font-size:13px;">
Jan 26 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>


<td style="font-weight: bold; text-align:right">44,550</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">3,024 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">7,927</td>


<td style="text-align:right;font-weight:bold;">33,599</td>


<td style="font-weight: bold; text-align:right">5,056</td>


<td style="font-weight: bold; text-align:right">683</td>


<td style="font-weight: bold; text-align:right">46</td>


<td style="text-align:right;font-size:13px;">
Jan 23 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>


<td style="font-weight: bold; text-align:right">41,495</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">2,757 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">13,911</td>


<td style="text-align:right;font-weight:bold;">24,827</td>


<td style="font-weight: bold; text-align:right">3,511</td>


<td style="font-weight: bold; text-align:right">494</td>


<td style="font-weight: bold; text-align:right">33</td>


<td style="text-align:right;font-size:13px;">
Feb 18 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>


<td style="font-weight: bold; text-align:right">22,141</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1,408 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">135</td>


<td style="text-align:right;font-weight:bold;">20,598</td>


<td style="font-weight: bold; text-align:right">163</td>


<td style="font-weight: bold; text-align:right">326</td>


<td style="font-weight: bold; text-align:right">21</td>


<td style="text-align:right;font-size:13px;">
Jan 30 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>


<td style="font-weight: bold; text-align:right">15,922</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">359 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1,823</td>


<td style="text-align:right;font-weight:bold;">13,740</td>


<td style="font-weight: bold; text-align:right">301</td>


<td style="font-weight: bold; text-align:right">1,840</td>


<td style="font-weight: bold; text-align:right">41</td>


<td style="text-align:right;font-size:13px;">
Feb 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>


<td style="font-weight: bold; text-align:right">11,899</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">513 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1,527</td>


<td style="text-align:right;font-weight:bold;">9,859</td>


<td style="font-weight: bold; text-align:right">927</td>


<td style="font-weight: bold; text-align:right">1,027</td>


<td style="font-weight: bold; text-align:right">44</td>


<td style="text-align:right;font-size:13px;">
Feb 03 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>


<td style="font-weight: bold; text-align:right">11,750</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">864 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">250</td>


<td style="text-align:right;font-weight:bold;">10,636</td>


<td style="font-weight: bold; text-align:right">1,053</td>


<td style="font-weight: bold; text-align:right">686</td>


<td style="font-weight: bold; text-align:right">50</td>


<td style="text-align:right;font-size:13px;">
Feb 26 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>


<td style="font-weight: bold; text-align:right">10,827</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">168 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">162</td>


<td style="text-align:right;font-weight:bold;">10,497</td>


<td style="font-weight: bold; text-align:right">568</td>


<td style="font-weight: bold; text-align:right">128</td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-size:13px;">
Mar 09 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>


<td style="font-weight: bold; text-align:right">9,786</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+125</td>


<td style="font-weight: bold; text-align:right;">162 </td>


<td style="font-weight: bold; text-align:right;background-color:red; color:white">+4</td>


<td style="font-weight: bold; text-align:right">5,408</td>


<td style="text-align:right;font-weight:bold;">4,216</td>


<td style="font-weight: bold; text-align:right">55</td>


<td style="font-weight: bold; text-align:right">191</td>


<td style="font-weight: bold; text-align:right">3</td>


<td style="text-align:right;font-size:13px;">
Jan 19 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/austria/">Austria</a></td>


<td style="font-weight: bold; text-align:right">9,618</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">108 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">636</td>


<td style="text-align:right;font-weight:bold;">8,874</td>


<td style="font-weight: bold; text-align:right">193</td>


<td style="font-weight: bold; text-align:right">1,068</td>


<td style="font-weight: bold; text-align:right">12</td>


<td style="text-align:right;font-size:13px;">
Feb 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>


<td style="font-weight: bold; text-align:right">7,474</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+26</td>


<td style="font-weight: bold; text-align:right;">92 </td>


<td style="font-weight: bold; text-align:right;background-color:red; color:white">+3</td>


<td style="font-weight: bold; text-align:right">1,114</td>


<td style="text-align:right;font-weight:bold;">6,268</td>


<td style="font-weight: bold; text-align:right">120</td>


<td style="font-weight: bold; text-align:right">198</td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-size:13px;">
Jan 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>


<td style="font-weight: bold; text-align:right">6,408</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">140 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">43</td>


<td style="text-align:right;font-weight:bold;">6,225</td>


<td style="font-weight: bold; text-align:right">164</td>


<td style="font-weight: bold; text-align:right">628</td>


<td style="font-weight: bold; text-align:right">14</td>


<td style="text-align:right;font-size:13px;">
Mar 01 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/israel/">Israel</a></td>


<td style="font-weight: bold; text-align:right">4,695</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">16 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">161</td>


<td style="text-align:right;font-weight:bold;">4,518</td>


<td style="font-weight: bold; text-align:right">79</td>


<td style="font-weight: bold; text-align:right">542</td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-size:13px;">
Feb 20 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>


<td style="font-weight: bold; text-align:right">4,661</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+31</td>


<td style="font-weight: bold; text-align:right;">165 </td>


<td style="font-weight: bold; text-align:right;background-color:red; color:white">+2</td>


<td style="font-weight: bold; text-align:right">127</td>


<td style="text-align:right;font-weight:bold;">4,369</td>


<td style="font-weight: bold; text-align:right">296</td>


<td style="font-weight: bold; text-align:right">22</td>


<td style="font-weight: bold; text-align:right">0.8</td>


<td style="text-align:right;font-size:13px;">
Feb 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/australia/">Australia</a></td>


<td style="font-weight: bold; text-align:right">4,514</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+54</td>


<td style="font-weight: bold; text-align:right;">19 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">244</td>


<td style="text-align:right;font-weight:bold;">4,251</td>


<td style="font-weight: bold; text-align:right">28</td>


<td style="font-weight: bold; text-align:right">177</td>


<td style="font-weight: bold; text-align:right">0.7</td>


<td style="text-align:right;font-size:13px;">
Jan 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/norway/">Norway</a></td>


<td style="font-weight: bold; text-align:right">4,462</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+17</td>


<td style="font-weight: bold; text-align:right;">32 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">12</td>


<td style="text-align:right;font-weight:bold;">4,418</td>


<td style="font-weight: bold; text-align:right">97</td>


<td style="font-weight: bold; text-align:right">823</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="text-align:right;font-size:13px;">
Feb 25 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/sweden/">Sweden</a></td>


<td style="font-weight: bold; text-align:right">4,028</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">146 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">16</td>


<td style="text-align:right;font-weight:bold;">3,866</td>


<td style="font-weight: bold; text-align:right">306</td>


<td style="font-weight: bold; text-align:right">399</td>


<td style="font-weight: bold; text-align:right">14</td>


<td style="text-align:right;font-size:13px;">
Jan 30 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Czechia</td>


<td style="font-weight: bold; text-align:right">3,001</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">23 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">25</td>


<td style="text-align:right;font-weight:bold;">2,953</td>


<td style="font-weight: bold; text-align:right">52</td>


<td style="font-weight: bold; text-align:right">280</td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-size:13px;">
Feb 29 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ireland/">Ireland</a></td>


<td style="font-weight: bold; text-align:right">2,910</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">54 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">5</td>


<td style="text-align:right;font-weight:bold;">2,851</td>


<td style="font-weight: bold; text-align:right">84</td>


<td style="font-weight: bold; text-align:right">589</td>


<td style="font-weight: bold; text-align:right">11</td>


<td style="text-align:right;font-size:13px;">
Feb 28 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/malaysia/">Malaysia</a></td>


<td style="font-weight: bold; text-align:right">2,626</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">37 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">479</td>


<td style="text-align:right;font-weight:bold;">2,110</td>


<td style="font-weight: bold; text-align:right">94</td>


<td style="font-weight: bold; text-align:right">81</td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="text-align:right;font-size:13px;">
Jan 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/denmark/">Denmark</a></td>


<td style="font-weight: bold; text-align:right">2,577</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">77 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="text-align:right;font-weight:bold;">2,499</td>


<td style="font-weight: bold; text-align:right">137</td>


<td style="font-weight: bold; text-align:right">445</td>


<td style="font-weight: bold; text-align:right">13</td>


<td style="text-align:right;font-size:13px;">
Feb 26 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Chile</td>


<td style="font-weight: bold; text-align:right">2,449</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">8 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">156</td>


<td style="text-align:right;font-weight:bold;">2,285</td>


<td style="font-weight: bold; text-align:right">14</td>


<td style="font-weight: bold; text-align:right">128</td>


<td style="font-weight: bold; text-align:right">0.4</td>


<td style="text-align:right;font-size:13px;">
Mar 02 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Romania</td>


<td style="font-weight: bold; text-align:right">2,109</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">65 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">209</td>


<td style="text-align:right;font-weight:bold;">1,835</td>


<td style="font-weight: bold; text-align:right">33</td>


<td style="font-weight: bold; text-align:right">110</td>


<td style="font-weight: bold; text-align:right">3</td>


<td style="text-align:right;font-size:13px;">
Feb 25 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>


<td style="font-weight: bold; text-align:right">2,055</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">31 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">7</td>


<td style="text-align:right;font-weight:bold;">2,017</td>


<td style="font-weight: bold; text-align:right">3</td>


<td style="font-weight: bold; text-align:right">54</td>


<td style="font-weight: bold; text-align:right">0.8</td>


<td style="text-align:right;font-size:13px;">
Mar 03 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Luxembourg</td>


<td style="font-weight: bold; text-align:right">1,988</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">22 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">40</td>



<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="text-align:right;font-weight:bold;">13</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">36</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 14 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Myanmar</td>


<td style="font-weight: bold; text-align:right">14</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">14</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.3</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 22 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Cayman Islands</td>


<td style="font-weight: bold; text-align:right">12</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">11</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">183</td>


<td style="font-weight: bold; text-align:right">15</td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Dominica</td>


<td style="font-weight: bold; text-align:right">12</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">12</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">167</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 21 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Equatorial Guinea</td>


<td style="font-weight: bold; text-align:right">12</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">12</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">9</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 13 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Mongolia</td>


<td style="font-weight: bold; text-align:right">12</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-weight:bold;">10</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">4</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 09 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">CuraÃ§ao</td>


<td style="font-weight: bold; text-align:right">11</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">67</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Namibia</td>


<td style="font-weight: bold; text-align:right">11</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-weight:bold;">9</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">4</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 13 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Syria</td>


<td style="font-weight: bold; text-align:right">10</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">2 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.6</td>


<td style="font-weight: bold; text-align:right">0.1</td>


<td style="text-align:right;font-size:13px;">
Mar 21 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Greenland</td>


<td style="font-weight: bold; text-align:right">10</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">176</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 15 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Seychelles</td>


<td style="font-weight: bold; text-align:right">10</td>


<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2</td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">10</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">102</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 13 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Grenada</td>


<td style="font-weight: bold; text-align:right">9</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">9</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">80</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 21 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Saint Lucia</td>


<td style="font-weight: bold; text-align:right">9</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">49</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Eswatini</td>


<td style="font-weight: bold; text-align:right">9</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">9</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 13 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Guyana</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">7</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">10</td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="text-align:right;font-size:13px;">
Mar 11 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Guinea-Bissau</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">4</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Laos</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 23 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Libya</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 23 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Mozambique</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.3</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 21 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Suriname</td>


<td style="font-weight: bold; text-align:right">8</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">8</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">14</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Angola</td>


<td style="font-weight: bold; text-align:right">7</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">2 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="text-align:right;font-weight:bold;">4</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.2</td>


<td style="font-weight: bold; text-align:right">0.06</td>


<td style="text-align:right;font-size:13px;">
Mar 19 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Gabon</td>


<td style="font-weight: bold; text-align:right">7</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">6</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">3</td>


<td style="font-weight: bold; text-align:right">0.4</td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Zimbabwe</td>


<td style="font-weight: bold; text-align:right">7</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">6</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.5</td>


<td style="font-weight: bold; text-align:right">0.07</td>


<td style="text-align:right;font-size:13px;">
Mar 19 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Antigua and Barbuda</td>


<td style="font-weight: bold; text-align:right">7</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">7</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">71</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Saint Kitts and Nevis</td>


<td style="font-weight: bold; text-align:right">7</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">7</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">132</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 24 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Sudan</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">2 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">4</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.1</td>


<td style="font-weight: bold; text-align:right">0.05</td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Cabo Verde</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">5</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">11</td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-size:13px;">
Mar 19 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Mauritania</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;">1 </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">2</td>


<td style="text-align:right;font-weight:bold;">3</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">1</td>


<td style="font-weight: bold; text-align:right">0.2</td>


<td style="text-align:right;font-size:13px;">
Mar 12 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Benin</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">6</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">0.5</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 15 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">Vatican City</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-weight:bold;">6</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="font-weight: bold; text-align:right">7,491</td>


<td style="font-weight: bold; text-align:right"></td>


<td style="text-align:right;font-size:13px;">
Mar 05 </td>




<td style="font-weight: bold; font-size:15px; text-align:left;">St. Barth</td>


<td style="font-weight: bold; text-align:right">6</td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right;"> </td>


<td style="font-weight: bold; text-align:right;"></td>


<td style="font-weight: bold; text-align:right">1</td>



Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
ActiveCases
Serious,Critical
TotÂ Cases/1M pop
Deaths/1M pop
Reported1st case
Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
ActiveCases
Serious,Critical
TotÂ Cases/1M pop
Deaths/1M pop
Reported1st case

## ^^ Doesn't work

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)

df = dfs[0]

df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,Reported1st case
0,USA,215215,212.0,5110.0,8.0,8878.0,201227,5005.0,650.0,15.0,Jan 20
1,Italy,110574,NaN,13155.0,NaN,16847.0,80572,4035.0,1829.0,218.0,Jan 29
2,Spain,104118,NaN,9387.0,NaN,22647.0,72084,5872.0,2227.0,201.0,Jan 30
3,Germany,77981,NaN,931.0,NaN,18700.0,58350,3408.0,931.0,11.0,Jan 26
4,France,56989,NaN,4032.0,NaN,10935.0,42022,6017.0,873.0,62.0,Jan 23
...,...,...,...,...,...,...,...,...,...,...,...
201,Sierra Leone,2,NaN,NaN,NaN,NaN,2,NaN,0.3,NaN,Mar 30
202,Papua New Guinea,1,NaN,NaN,NaN,NaN,1,NaN,0.1,NaN,Mar 19
203,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.8,NaN,Mar 20
204,China,81554,NaN,3312.0,NaN,76238.0,2004,466.0,57.0,2.0,Jan 10
205,Total:,935957,760.0,47245.0,53.0,194286.0,694426,35610.0,120.1,6.1,NaN