In [1]:
import pandas as pd
import csv
import requests
from bs4 import BeautifulSoup
import requests
import pymongo
import datetime
import json
import requests
import time

# Google developer API key
from config import api_key

In [51]:
url = 'https://www.worldometers.info/coronavirus/'

In [52]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)

df = dfs[0]

df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,World,1346974,970.0,74702.0,48.0,278698.0,993574,47249.0,173.00,9.6,NaN,NaN
1,USA,367385,381.0,10876.0,5.0,19671.0,336838,8879.0,1110.00,33.0,1914540.0,5784.0
2,Spain,136675,NaN,13341.0,NaN,40437.0,82897,6931.0,2923.00,285.0,355000.0,7593.0
3,Italy,132547,NaN,16523.0,NaN,22837.0,93187,3898.0,2192.00,273.0,721732.0,11937.0
4,Germany,103375,NaN,1810.0,NaN,28700.0,72865,4895.0,1234.00,22.0,918460.0,10962.0
...,...,...,...,...,...,...,...,...,...,...,...,...
208,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN,1,NaN,173.00,NaN,NaN,NaN
209,South Sudan,1,NaN,NaN,NaN,NaN,1,NaN,0.09,NaN,NaN,NaN
210,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.80,NaN,NaN,NaN
211,China,81740,32.0,3331.0,NaN,77167.0,1242,211.0,57.00,2.0,NaN,NaN
212,Total:,1346974,970.0,74702.0,48.0,278698.0,993574,47249.0,172.80,9.6,NaN,NaN

In [ ]:
## Df testing

import numpy as np
# df.head()
randomList = []
round(np.random.random_sample()*100,2)
for x in range(len(df)):
    randomList.append([round(np.random.random_sample()*100,2),round(np.random.random_sample()*100,2)])
randomList
df['Coords'] = randomList
df

In [85]:
countries = list(df['Country,Other'])
countryCount = 0
coordinates = []
for country in countries:
#     print(country)
    url = (f'https://maps.googleapis.com/maps/api/geocode/json?address={country}&key={api_key}')
    # fix this with not in []
    if country not in ['World','Total:']:
        print(country)
        try:
            response = requests.get(url).json()
            result = response['results'][0]['geometry']['location']
            loc = [result['lat'],result['lng']]

            print(loc)
        except:
            print('Failed Request')
            loc = [0,0]
        coordinates.append(loc)
        time.sleep(3)
    else:
        loc = [0,0]
        coordinates.append(loc)
    
    
    countryCount +=1

USA
[37.09024, -95.712891]
Spain
[40.46366700000001, -3.74922]
Italy
[41.87194, 12.56738]

In [76]:
df['Coords'] = coordinates

In [77]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Coords
0,World,1346974,970.0,74702.0,48.0,278698.0,993574,47249.0,173.00,9.6,NaN,NaN,"[0, 0]"
1,USA,367385,381.0,10876.0,5.0,19671.0,336838,8879.0,1110.00,33.0,1914540.0,5784.0,"[37.09024, -95.712891]"
2,Spain,136675,NaN,13341.0,NaN,40437.0,82897,6931.0,2923.00,285.0,355000.0,7593.0,"[40.46366700000001, -3.74922]"
3,Italy,132547,NaN,16523.0,NaN,22837.0,93187,3898.0,2192.00,273.0,721732.0,11937.0,"[41.87194, 12.56738]"
4,Germany,103375,NaN,1810.0,NaN,28700.0,72865,4895.0,1234.00,22.0,918460.0,10962.0,"[51.165691, 10.451526]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Saint Pierre Miquelon,1,NaN,NaN,NaN,NaN,1,NaN,173.00,NaN,NaN,NaN,"[46.8852, -56.3159]"
209,South Sudan,1,NaN,NaN,NaN,NaN,1,NaN,0.09,NaN,NaN,NaN,"[6.876991899999999, 31.3069788]"
210,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.80,NaN,NaN,NaN,"[-8.874217, 125.727539]"
211,China,81740,32.0,3331.0,NaN,77167.0,1242,211.0,57.00,2.0,NaN,NaN,"[35.86166, 104.195397]"
212,Total:,1346974,970.0,74702.0,48.0,278698.0,993574,47249.0,172.80,9.6,NaN,NaN,"[0, 0]"

In [78]:
df.to_json('countries.json')

In [3]:
# The default port used by MongoDB is 27017
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Declare the database
db = client.corona_db

In [5]:
# Declare the collection
collection = db.corona_data

In [25]:
# Insert document into collection
with open('countries.json') as f:
    countries_data = json.load(f)

collection.update(countries_data,upsert=True)

TypeError: update() missing 1 required positional argument: 'document'

In [49]:
# Verify results:
existingCountries = []
testCountries = ['Cuba','Nowhere','Russian']

results = db.corona_data.find()[0]
locList = list(results['Country,Other'].values())

# locList

for x in testCountries:
    if x not in locList:
        print(x)

Nowhere
Russian